/node_modules
/public/hot
/public/storage
/public/evidencias
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
app/Http/Livewire/Aspirantes/Contratos.php
app/Models/Contratos.php
database/migrations/2024_04_05_121201_create_contratos_table.php
